
<div id="top">
	<div id="topWrapper">
		<div id="header">
			<div id="logo">
				<%= image_tag "logo.png" %>
			</div>
			<div id="navigation">
				<div class="navigationLink">Sebastian</div>
			</div>
		</div>
		<div id="slogan">AN ENGINEERING STATE OF MIND.</div>
	</div>
    <div id="vectorField"></div>
</div>

<div id="team">
    <div id="teamHeader">
      <div class="title">About Me</div><div class="nop"></div>
    </div>
    <div id="about">
      <p>
      During my Undergraduate Studies at <a href="http://www.cmu.edu" class="red highlight">Carnegie Mellon University</a>, I focused on Digital Design, Embedded Systems, and Computer Systems. For my Masters, I am also focusing on Embedded Systems, in addition to SOCs, and Low Energy Computing.
      </p>
      <p>
      Although I enjoy learning about how hardware works, I also love prototyping my ideas and being able to share them with others. This is why, in my free time, I make apps and experiments on the web, mobile devices, and microcontrollers. I have made <a href="http://lookingglass.co" class="blue highlight">smart mirrors</a>, <a href="http://upliving.co/#inmobiliaria" class="orange highlight">real-estate webapps</a>, and even an app that alerts you when your <a href="https://bitbucket.org/deltafunction/dog/" class="purple highlight">email has been leaked</a>.
      </p>
      <p>
      Find out more about me through <a href="https://db.tt/ItPpjk8e" class="red highlight">my resume</a>!
      </p>
    </div>
    <div id="footer">
      <%= image_tag "d_dots.png" %>
    </div>
</div>
